
<div *ngIf="this.responsive.getMobile()">


<div class="row">
  <div class="col shadow short panel">
    <h3 class="center-hv">
      {{this.sharedVars.selectedDay.toLocaleDateString()}}
    </h3>
  </div>
</div>
  <div class="row">
    <div class="col shadow short panel">
      <h3 class="center-hv">
        {{this.sharedVars.selectedEntry.title}}
      </h3>
    </div>
  </div>
<div class="row">
  <div class="col shadow tall panel no-padding overflow-hidden">
    <app-emotion-list [editable]="false" [emotionType]="'positive'" [emotions]="this.positiveEmotions"></app-emotion-list>

  </div>
  <div class="col shadow tall panel no-padding overflow-hidden">
    <app-emotion-list [editable]="false" [emotions]="this.negativeEmotions" [emotionType]="'negative'"></app-emotion-list>
  </div>
</div>
<div class="row">
  <div class="col shadow short panel">
    <input  placeholder="TAGS" class="input-oneLine input-focus"  [value]="this.sharedVars.selectedEntry.tags" type="text" disabled>

  </div>
</div>
<div class="row">
  <div class="col shadow xtall panel">
    <textarea placeholder="Talk about your day!" class="input-paragraph input-focus" [value] = "this.sharedVars.selectedEntry.text" cols="30" rows="10" disabled></textarea>

  </div>
</div>
<div class="row">
  <div class="col shadow panel text-center clickable click-mobile" (click)="export()">Export</div>
</div>
</div>

<!-- DESKTOP VIEW !-->

<div *ngIf="!this.responsive.getMobile()">
  <div class="row">
    <div class="col title-desktop">
      <h2 class="text-center">Your Mood on {{this.sharedVars.selectedDay.toLocaleDateString()}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col panel-desktop title shadow">
          <h3>{{this.sharedVars.selectedEntry.title}} &nbsp;</h3>
        </div>
      </div>
      <div class="row">
        <div class="col panel-desktop shadow para-tall customScroll">
          <p>
            {{this.sharedVars.selectedEntry.text}}

          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col panel-desktop xxtall shadow no-padding overflow-hidden no-select clickable customScroll ">
          <app-emotion-list [emotionType]="'positive'" [editable]="false" [emotions]="posEmotions"></app-emotion-list>
        </div>
        <div class="col panel-desktop xxtall shadow no-padding overflow-hidden no-select clickable customScroll">
          <app-emotion-list [emotionType]="'negative'" [editable]="false" [emotions]="negEmotions"></app-emotion-list>
        </div>
    </div>
      <div class="row">
        <div class="col panel-desktop shadow tags">
          <p>
            <span *ngFor="let tag of this.sharedVars.selectedEntry.tags" ><span *ngIf="tag !== ''">#{{tag}}</span> </span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col panel shadow text-center clickable click-desktop" (click)="export()">
          Export
        </div>
      </div>

  </div>
</div>
