
<div *ngIf="this.responsive.getMobile()">


  <div class="row">
    <div class="col panel tall shadow">
      <div class="smallDashboard-panel">
        <h4>Good Days</h4>
        <h3>{{posDays}}</h3>
      </div>

    </div>
    <div class="col panel tall shadow">
      <div class="smallDashboard-panel">
        <h4>Bad Days</h4>
        <h3>{{negDays}}</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col panel tall shadow overflow-hidden-no-scroll" (click)="routeToLastMood()">
      <div class="circle" [ngClass]="(lMDayType === 1 ? 'blue': (lMDayType === -1 ? 'red': 'neut'))">{{lMDayType}}</div>
      <h4 class="margin-left">Last Mood </h4>
      <p class="margin-left">
        {{this.entry.moodText}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col panel tall shadow">

    </div>
  </div>


</div>

<div *ngIf="!this.responsive.getMobile()">
  <div class="row">
    <div class="col title-desktop">
      <h2 class="text-center">Dashboard</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col panel-desktop tall shadow">
          <div class="smallDashboard-panel">
            <h4>Good Days</h4>
            <h3>{{posDays}}</h3>
          </div>

        </div>
        <div class="col panel-desktop tall shadow">
          <div class="smallDashboard-panel">
            <h4>Bad Days</h4>
            <h3>{{negDays}}</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col panel tall shadow overflow-hidden-no-scroll clickable" (click)="routeToLastMood() ">
          <div class="circle" [ngClass]="(lMDayType === 1 ? 'blue': (lMDayType === -1 ? 'red': 'neut'))">{{lMDayType}}</div>
          <h4 class="margin-left">Last Mood </h4>
          <p class="margin-left">
            {{this.entry.moodText}}
          </p>
        </div>
      </div>

    </div>
    <div class="col">

    </div>
  </div>

</div>
