<div class="row">
  <div class="col panel short shadow">
    <h4 class="heading">EMOTIONS</h4>
  </div>
</div>
<div class="row">
  <div class="col panel tall shadow no-padding overflow-hidden">
    <app-emotion-list [emotions]="this.posEmotions" [emotionType]="'positive'"></app-emotion-list>
  </div>
  <div class="col panel tall shadow no-padding overflow-hidden">
  <app-emotion-list [emotions]="this.negEmotions" [emotionType]="'negative'"></app-emotion-list>
</div>

</div>
<div class="row">
  <div class="col panel short shadow">
    <input  placeholder="TAGS" class="input-oneLine input-focus" (input)="this.tags = $event.target.value" [value]="this.tags" type="text">
  </div>
</div>
<div class="row">
  <div class="col panel xtall shadow">
    <textarea placeholder="Talk about your Day" class="input-paragraph input-focus" (input)="this.moodText = $event.target.value" [value] = "this.moodText" cols="30" rows="10"></textarea>
  </div>
</div>
<div class="row">
  <div class="col">
    <button class="commitMood shadow" (click)="submit()">
      <img src="../../../assets/icons/CloudWhite.svg" alt="">
    </button>
  </div>
</div>
