<div class="row">
  <div class="col panel short shadow">
    <h4 class="heading">EMOTIONS</h4>
  </div>
</div>
<div class="row">
  <div class="col panel tall shadow no-padding overflow-hidden">
    <ul class="emotion-list">
      <li id="positive">Happy</li>
      <li>Satisfied</li>
      <li>Proud</li>
      <li id="positive">Free</li>
      <li>Test</li>
    </ul>
  </div>
  <div class="col panel tall shadow no-padding overflow-hidden">

  </div>
</div>
<div class="row">
  <div class="col panel short shadow">
    <input  class="input-oneLine" type="text">
  </div>
</div>
<div class="row">
  <div class="col panel xtall shadow">

  </div>
</div>
<div class="row">
  <div class="col">
    <button class="commitMood">
      <img src="../../../assets/icons/CloudWhite.svg" alt="">
    </button>
  </div>
</div>
