/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Oswald|PT+Mono');
@import url('https://fonts.googleapis.com/css?family=Oswald:300');
.shadow{
  box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.25);

}
.container-fluid{
  background-color: #E6E6E6;
  min-height: 100vh;
}
.panel{
  background-color: #fff;
  border-radius: 15px;
  margin: 15px 15px 0px 0px;
}
.panel:nth-child(1){
  margin: 15px 15px 0px 15px;

}
.xtall{
  height: 200px;
}
.tall{
  height: 180px;
}
.middle{
  height: 120px;
}
.short{
  height: 80px;
}
.overflow-hidden{
  overflow: hidden;
  overflow-y: auto;
}
.overflow-hidden-no-scroll{
  overflow: hidden;
}

.no-padding{
  padding: 0px;
}
h3{
  color: #4D4D4D;
  font-family: Oswald;
  font-style: italic;
  text-align: center;
}
.center-vert{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.center-horz{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.center-hv{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.blue{

  background-color: #4A96D3;

}
.red{
  background-color: #D15E4B;

}
.gray{
  background-color: #4D4D4D;
}
p{
  font-family: Oswald;

  font-weight: bold;
  font-size: 1.1em;
}
span{
  font-family: Oswald;
}
.white-text{
  color: white;
}

.center-text{
  text-align: center;
}
